<script src="https://cdn.auth0.com/js/lock-6.2.min.js"></script>
<script type="text/javascript">
  var lock = new Auth0Lock('xdAoEBv8iFQKeBwjAWkHbfEW2HcwvsLK', 'jvidalba.auth0.com');

  function signin() {
    lock.show({
        callbackURL: 'http://localhost:3000/auth/auth0/callback'
      , responseType: 'code'
      , authParams: {
        scope: 'openid profile'
      }
    });
  }
</script>
<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <h1>Home</h1>
        <button onclick="signin()">Login</button>
      </div>
    </div>
  </div>
</div>  


